*{
    margin: o;
 }
 section{
    display: flex;
    border: 0.2px solid rgb(185, 182, 182);
    width: 900px;
    height: 100vh;
 }
 body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
 }
 .form{
   margin-top: 60px;
   display: flex;
   margin-left: 35px;
 }
 .forms{
    margin-left: 40px;
    margin-top: 7px;
 }
 select{
    width: 274px;
    height: 27px;
 }
 .ok{
    width: 250px;
    height: 20px;
    margin-top: 25px;
    border-color: rgb(129, 229, 129);
 }
 .okk{
    width: 250px;
    height: 20px;
    margin-top: 25px;
    border-color: red;
 }
 .sri{
    height: 20px;
 
    width: 250px;
    margin-top: 20px;
 border: 0.5px solid rgb(170, 168, 168);
    
 }
 input[type=range]{
    
    accent-color: rgb(83, 228, 83);
    position: absolute;
    width:570px;
    margin-right: 200px;
 }
 #submit{
 position: absolute;
 margin-left: 390px;
 margin-top: 20px;
 background-color: rgb(6, 248, 6);
 color: white;
 width: 70px;
 height: 30px;
 }
 #rest{
 position: absolute;
 margin-left: 480px;
 margin-top: 20px;
 width: 70px;
 height: 30px;
 }
 i{
   position: absolute;
   margin-top: 30px;
   margin-left: -20px;
   color: red;
 }
 select{
    border: 0.5px solid rgb(201, 195, 195);
 }
 img{
    height: 100vh;
    padding-top: 10px;
    padding-left: 4px;
     }