*{
    margin: 0%;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(125deg,rgb(42, 42, 237),rgb(196, 63, 85),rgb(153, 14, 222));
   
}
section{
    border: 2px solid white;
    background-color: white;
    width: 600px;
    height: 500px;
    border-radius: 4px;
    gap: 4rem;
   
}
h4{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}
.a,.b,.c,.d,.e,.g,.h{
    margin: 60px;
}
button{
    margin: 60px;
    border-radius: 1px;
    background-color: rgb(246, 14, 14);
    color: white;
    border:none ;
    padding: 5px;
}
button:hover{
    background-color: rgb(83, 85, 87);
}

#name{
    margin-left: 170px;
    font-weight: lighter;
    font-size: xx-small;
    width: 160px;
}
#ame{
    margin-left: 130px;
    font-weight: lighter;
    font-size: xx-small;
    width: 150px;
}
#m{
    font-weight: lighter;
    font-size: xx-small;
    margin-left: 170px;
}
#n{
    font-weight: lighter;
    font-size: xx-small;
    margin-left: 30px;
}



#email{
    width: 340px;
    padding: 5px;
}
#com{
    width: 338px;
    padding: 5px;
    margin-left: -22px;
}
#code{
    width: 50px;
    padding: 5px;
}
select{
    width: 345px;
    padding: 5px;
    margin: -7px;
}

#phone{
    width:274px ;
    padding: 5px;
}

input,button,select{
    margin-top:20px;
}
input,select{
    background-color: gray;
    border: none;
}
input::placeholder{
    color: black;
}
#z{
    
margin-top: 15px;
margin-left: 60px;
}
#bb{
margin-left:4px;
}
.o,.m{
    padding: 5px;
}

