*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    height: 100vh;
    align-items: center;
    background: red;
}

section{
    display: flex;
    width: 600px;
    height: 350px;
    border: 2px solid;
    background-color:white;
}

img{
    height: 350px;
    width: 150px;
}

.vv{
    margin: 30px;
}

.form h1{
   color: white;
}

 
 
 #q{
     margin-top: 25px;
     padding-left: 5px;
     background-color: transparent;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid rgb(54, 54, 54);
     color: grey;
     width: 350px;
 
 }
 
 
 
 input::placeholder,select{
     font-weight: 600;
     color: rgb(104, 102, 102);
 
 }
 
 input:focus,select:focus{
     outline: none;
 }
 
 button{
    margin-top: 20px;
    background-color: rgb(61, 199, 59);
    border-radius: 2px;
    color: white;
    padding: 5px 15px;
}

button:hover{
    background-color: rgb(100, 133, 100);

}


i{
    color: grey;
   margin-left:-20px;
}
#r{
    margin-top: 25px;
    padding-left: 5px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(54, 54, 54);
    color: gray;
    width: 170px;

}
#GG{
    margin-top: 25px;
    padding-left: 5px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(54, 54, 54);
    color: gray;
    width: 350px;

}
#y{
    margin-top: 25px;
    padding-left: 5px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(54, 54, 54);
    color: gray;
    width: 350px;

}
select{
    margin-top: 25px;
    padding-left: 5px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(54, 54, 54);
    color: gray;
    width: 170px;

}
section{margin-right: 150px;
}